/* Custom Styles */
.page-link {
  cursor: pointer;
}

/* Ensure charts are responsive */
.chart-container {
  position: relative;
  height: 250px;
  width: 100%;
}

/* Date Picker Input Style */
#date-range-picker {
    cursor: pointer;
    background-color: var(--fds-card-bg);
}
